<body class="design">
  <%- include ("partials/header.ejs") %>
  <main>
    <header>
      <h1>Design your own T-shirt</h1>
      <div class="button">
        <a href="/">Back</a>
      </div>
    </header>
    <div>
      <section>
        <svg
          width="307"
          height="402"
          viewBox="0 0 307 402"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
            fill="<%= shirt.color %>"
          />
          <path
            d="M117.969 8.39705C117.969 8.39705 107.507 3.84016 111.566 12.9539C111.566 12.9539 120.142 27.8674 142.495 30.4121C142.495 30.4121 108.536 29.4653 99.6178 1.59131L117.969 8.39705Z"
            fill="black"
            fill-opacity="0.4"
          />
          <path
            d="M156.844 401C236.139 398.159 253.004 380.405 253.004 380.405C249.345 307.495 240.426 238.076 248.43 162.622H254.261C283.018 163.568 306 153.449 306 153.449C293.423 83.0831 279.645 41.5385 279.645 41.5385C275.449 32.3141 269.24 30.3102 269.24 30.3102L238.311 16.6559L207.382 1C191.775 11.4749 156.844 10.8239 156.844 10.8239H150.156C150.156 10.8239 115.225 11.4749 99.6176 1L69.16 16.8024L37.7601 31.311C37.7601 31.311 30.746 33.3148 27.3552 41.5385C27.3552 41.5385 13.5773 83.0831 1 153.449C1 153.449 23.9822 163.568 52.7385 162.622H58.5698C66.5164 238.076 57.6551 307.495 53.9963 380.405C53.9963 380.405 70.8613 398.159 150.156 401H156.844Z"
            stroke="black"
            stroke-width="1.5"
            stroke-miterlimit="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M38.2292 31.3135C38.2292 31.3135 51.538 52.9609 58.5698 162.622"
            stroke="black"
            stroke-miterlimit="10"
          />
          <path
            d="M55.1913 366.065C55.1913 366.065 72.8051 384.074 152.099 386.915H154.901C234.195 384.074 252.251 365.565 252.251 365.565"
            stroke="black"
            stroke-opacity="0.2"
            stroke-width="0.75"
            stroke-miterlimit="10"
          />
          <path
            d="M3.05841 143.033C3.05841 143.033 28.3274 153.982 57.6554 153.035"
            stroke="black"
            stroke-opacity="0.2"
            stroke-width="0.75"
            stroke-miterlimit="10"
          />
          <path
            d="M189.088 8.39705C189.088 8.39705 199.55 3.84016 195.491 12.9539C195.491 12.9539 186.916 27.8674 164.562 30.4121C164.562 30.4121 198.521 29.4653 207.44 1.59131L189.088 8.39705Z"
            fill="black"
            fill-opacity="0.4"
          />
          <path
            d="M260.233 119.88C260.233 119.88 251.954 123.82 250.754 132.401M296.028 104.744C298.023 115.377 296.028 121.882 294.157 126.885"
            stroke="black"
            stroke-width="0.75"
            stroke-miterlimit="10"
            stroke-linecap="round"
          />
          <path
            d="M269.213 30.3125C269.213 30.3125 255.462 52.9607 248.43 162.622"
            stroke="black"
            stroke-miterlimit="10"
          />
          <path
            d="M304.134 142.772C304.134 142.772 278.044 154.1 249.288 153.153"
            stroke="black"
            stroke-opacity="0.2"
            stroke-width="0.75"
            stroke-miterlimit="10"
          />
          <path
            d="M99.6178 1C110.937 41.4202 196.063 41.4202 207.383 1"
            stroke="black"
            stroke-miterlimit="10"
          />
          <path
            d="M171.182 357.809C152.723 354.556 125.035 337.293 109.071 327.036C142.745 345.049 179.164 358.059 198.122 361.061C193.382 363.313 185.955 360.412 171.182 357.809Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M250.13 139.395C251.533 144.336 253.747 145.118 273.578 146.462C267.809 145.774 256.46 143.241 250.13 139.395Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M260.233 119.88C251.876 124.133 250.879 131.305 250.38 134.391V137.518C250.38 135.016 256.616 123.883 260.233 119.88Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M15.53 84.4784C17.8582 79.3078 23.2128 68.4663 26.0066 66.4648"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M61.6768 263.988C61.76 264.544 61.8464 265.116 61.9357 265.704C64.007 274.35 77.885 301.831 80.8838 308.772C83.478 314.776 84.1265 317.403 83.9602 317.904L88.1176 328.412C85.7479 328.412 80.7341 320.906 78.1399 317.904C74.8972 314.151 72.5275 307.021 69.0353 299.265C66.3814 293.371 63.63 276.851 61.9357 265.704C61.7671 265 61.6768 264.421 61.6768 263.988Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M245.516 247.476C245.848 265.323 242.971 305.97 228.803 325.785"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M37.855 148.276C55.0665 147.256 55.1497 144.514 57.0621 141.771V147.256C55.4823 147.796 49.953 149.402 37.855 148.276Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M55.6902 131.889C55.1572 126.818 41.9651 112.346 35.4357 105.744L37.4345 114.459C43.7418 122.338 45.4297 119.477 55.6902 131.889Z"
            fill="black"
            fill-opacity="0.1"
          />
          <path
            d="M35.7348 105.995C39.3101 109.831 46.8599 117.979 48.4563 119.88C50.4519 122.257 55.5654 128.762 56.0643 131.889"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M61.4273 264.989C65.0858 273.829 73.0014 292.71 75.3961 297.514C78.3894 303.518 83.8771 315.277 83.6277 316.778"
            stroke="black"
            stroke-width="0.75"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </section>
      <section>
        <form action="/" method="POST">
          <fieldset>
            <legend>Fitting</legend>
            <input type="radio" name="fitting" value="man" id="man" checked />
            <label for="man"> Man </label>
            <input type="radio" name="fitting" value="woman" id="woman" />
            <label for="woman">Woman</label>
          </fieldset>
          <fieldset>
            <legend>Size</legend>
            <label for="size">Choose a size:</label>
            <select id="size">
              <option value="xs">XS</option>
              <option value="s">S</option>
              <option value="m">M</option>
              <option value="l">L</option>
              <option value="xl">XL</option>
              <option value="xxl">XXL</option>
            </select>
          </fieldset>
          <fieldset>
            <legend>T-shirt color</legend>
            <label for="color">Choose a color:</label>
            <select id="color">
              <option value="black">Black</option>
              <option value="white">White</option>
              <option value="olive">Olive</option>
              <option value="asphalt">Asphalt</option>
              <option value="navy">Navy</option>
            </select>
          </fieldset>
          <fieldset>
            <legend>Text input</legend>
            <label for="textInput">Create a text:</label>
            <input type="text" id="textInput" placeholder="Your text here..." />
          </fieldset>
          <fieldset>
            <legend>Text color</legend>
            <label for="textColor">Choose a color for the text:</label>
            <select id="textColor">
              <option value="black">Black</option>
              <option value="white">White</option>
              <option value="olive">Olive</option>
              <option value="asphalt">Asphalt</option>
              <option value="navy">Navy</option>
            </select>
          </fieldset>
          <button>Buy</button>
        </form>
      </section>
    </div>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
