<body class="error">
  <%- include ("partials/header.ejs") %>
  <main>
    <header>
      <h1>Error - 404</h1>
    </header>
    <section><p>Dit is de error pagina.</p></section>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
