<body class="order">
  <%- include ("partials/header.ejs") %>
  <main>
    <header>
      <h1>Design your own T-shirt</h1>
    </header>
    <section>
      <h2>Your details:</h2>
      <form action="/thanks">
        <fieldset>
          <legend>Name</legend>
          <label for="userName">Enter your name:</label>
          <input type="text" name="userName" id="userName" />
        </fieldset>
        <fieldset>
          <legend>Phone</legend>
          <label for="userPhone">Enter your phone number:</label>
          <input type="text" name="userPhone" id="userPhone" />
        </fieldset>
        <fieldset>
          <legend>Mail</legend>
          <label for="userMail">Enter your mail:</label>
          <input type="text" name="userMail" id="userMail" />
        </fieldset>
        <input type="submit" value="Place order" />
      </form>
    </section>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
