<body class="thanks">
  <%- include ("partials/header.ejs") %>
  <main>
    <header>
      <h1>Thanks!</h1>
      <p>
        The order has been successfully made. Within minutes, the details will
        be described by email.
      </p>
    </header>
  </main>
  <%- include ("partials/footer.ejs") %>
</body>
