<header>
  <a href="/">
    <svg
      width="50"
      height="51"
      viewBox="0 0 50 51"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M3.4318 41.875V41.785C3.4318 41.785 3.4435 41.726 3.4318 41.6504C3.00996 38.9273 1.66864 34.8182 1.66864 34.8182C1.66864 34.8182 0.346264 24.68 1.22785 22.9168C2.10944 21.1537 2.30854 21.2601 2.55022 20.0517C3.2114 16.7458 5.19495 5.94646 4.75416 11.4563C4.31338 16.9662 8.50087 9.25239 8.06008 7.70963C7.61929 6.16686 9.16205 8.8116 9.16205 8.8116C9.16205 8.8116 11.1456 7.26884 9.82324 5.94647C8.50087 4.6241 12.468 6.38726 12.468 6.38726L17.537 2.42016L20.843 3.08134C20.843 3.08134 15.5535 1.75897 19.0798 1.75897C22.6061 1.75897 20.843 0.877394 20.843 0.877394L26.3528 1.75897H28.5568L32.3035 3.08134C32.3035 3.08134 29.6587 -1.98772 31.6423 0.877394C33.6258 3.74251 36.0502 4.18331 36.0502 4.18331L40.0173 7.48923C40.0173 7.48923 44.0521 10.7089 43.764 13.4399C43.6265 14.7436 42.4416 16.5254 42.4416 16.5254C42.4416 16.5254 44.9065 16.6219 46.1883 17.407C48.4541 18.7948 48.3806 21.0076 49.0535 23.578C50.0125 27.2416 49.0535 33.2754 49.0535 33.2754L48.1719 37.2425C48.1719 37.2425 47.8993 37.9836 47.8688 38.1283C47.2627 41.0028 46.9873 41.875 46.9873 41.875H45.6649V39.6532C45.6649 39.6532 45.068 37.6199 44.866 35.0385C44.6142 31.8222 43.764 26.8839 43.764 26.8839C43.764 26.8839 43.3232 20.2721 40.0173 21.5945C36.7114 22.9168 30.7215 24.2911 24.5897 24.68C18.4759 25.0678 12.9088 25.5616 8.94166 23.578C4.97456 21.5945 5.85614 26.8839 5.85614 26.8839C5.85614 26.8839 5.88187 31.8068 5.63573 35.0385C5.45974 37.3493 4.97456 40.7688 4.97456 40.7688L4.83025 41.785L3.4318 41.875Z"
        fill="black"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M33.9338 38.678L33.9442 38.6845V38.678H35.616C35.616 38.678 36.5633 39.2913 37.3248 39.2913C38.0864 39.2913 38.9594 38.678 38.9594 38.678H40.7054V38.6798L42.6441 41.1645L41.3453 42.0664L40.7054 41.2464V46.1079H33.9442V41.4142L33.4675 42.0918L32.1238 41.2503L33.9338 38.678Z"
        fill="#3E23E5"
      />
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M10.061 38.678L10.0714 38.6845V38.678H11.7432C11.7432 38.678 12.6905 39.2913 13.452 39.2913C14.2136 39.2913 15.0866 38.678 15.0866 38.678H16.8326V38.6798L18.7713 41.1645L17.4725 42.0664L16.8326 41.2464V46.1079H10.0714V41.4142L9.59466 42.0918L8.25098 41.2503L10.061 38.678Z"
        fill="#3E23E5"
      />
      <path
        d="M20.4972 42.8273V38.9862C20.4972 36.8964 18.8031 35.2023 16.7134 35.2023H10.2079V35.2023C8.20956 35.2023 6.5896 36.8223 6.5896 38.8206V45.9626C6.5896 47.9609 8.20956 49.5809 10.2079 49.5809V49.5809H16.7134C18.8031 49.5809 20.4972 47.8868 20.4972 45.7971V42.8273ZM20.4972 42.8273H26.8459H29.9108M29.9108 42.8273V38.9862C29.9108 36.8964 31.6049 35.2023 33.6947 35.2023H40.8569V35.2023C42.6201 35.2023 44.0495 36.6317 44.0495 38.3949V46.3883C44.0495 48.1515 42.6201 49.5809 40.8569 49.5809V49.5809H33.6947C31.6049 49.5809 29.9108 47.8868 29.9108 45.7971V42.8273Z"
        stroke="black"
        stroke-width="1.51353"
      />
    </svg>

    { Nerd Shirt }
  </a>
  <nav>
    <ul>
      <li>
        <a href="/">Designs</a>
      </li>
    </ul>
  </nav>
</header>
